{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<div class="row">
	<div class="col-md">
		<h4>confirm to delete an order</h4>
        <hr>
        <div class="card card-body">
            <form method="POST">
                {% csrf_token %}
                <p>Are you sure ,you want to delelete <b>{{order}}</b></p>
                <input  class="btn btn-sm btn-warning" type='submit' name='Cancel' value='cancel'>
                <input  class="btn btn-sm btn-danger" type='submit' name='confirm' value='confirm'>
            </form>
        </div>
    </div>
</div>

{% endblock %}